.App {
	height: 800px;
	width: 1000px;
	overflow: hidden;
  margin: 0 auto;
  font-family: Germania One;
}

h1 {
	position: absolute;
}

.typewriter {
      width: 30em;
      white-space: nowrap;
      overflow:hidden;
      -webkit-animation: type 5s steps(50, end);
      animation: type 5s steps(50, end);
  }

  @keyframes type{
      from { width: 0; }
  }
  
  @-webkit-keyframes type{
      from { width: 0; }
  }

  @import url('https://fonts.googleapis.com/css?family=Germania+One');
  
