.App {
	height: 800px;
	width: 1000px;
	overflow: hidden;
	margin: 0 auto;
}

h1 {
	position: absolute;
}

/* testing for typewriter */

/* .typewriter {
  animation: typewriter 3.5s steps(100) 1s 1 normal both, 
  blinkTextCursor 500ms steps(100) infinite normal;}

  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  } */

/*
.zoomed-in {
  transition: 1s;
  transform-origin: bottom;
  transform: scale(2) translateY(-50px);
  position: absolute;
  top: 20%;
}

.zoomed-out {
  transition: 1s;
  transform: scale(1) translateY(0);
}
*/
