.App {
	height: 800px;
	width: 1000px;
	overflow: hidden;
	margin: 0 auto;
}

h1 {
	position: absolute;
}

/*
.zoomed-in {
  transition: 1s;
  transform-origin: bottom;
  transform: scale(2) translateY(-50px);
  position: absolute;
  top: 20%;
}

.zoomed-out {
  transition: 1s;
  transform: scale(1) translateY(0);
}
*/
