.crystal-ball-image {
  position: absolute;
  top: 70%;
  left: 97%;
  transform-origin: bottom;
  width: 150px;
}

.ball-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  position: absolute;
}

h1 {
  color: white;
}

.ft-selector-ld {
  width: 30vh;
}

.ft-selector-zoltar {
  width: 30vh;
}
