/*.fortune-teller-view {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}*/

.fortune-teller-cont {
}

.ld-head {
	width: 200px;
	position: absolute;
}

.ft-hands {
  width: 226px;
  position: fixed;
  left: 42%;
  top: 56%;
}
