/*.fortune-teller-view {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}*/

.appear {}

.disappear {
  display: none;
}

.memeCont {
  position: absolute;
  width: 1000px;
  bottom: 0;
  opacity: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.meme {
  max-height: 400px;
}

.fortune-teller-cont {
  position: absolute;
  left: 34%;
  top: 12%;
}

.ld-head {
  width: 200px;
  position: relative;
  left: 48%;
  top: 56%;
}

.ft-hands {
  width: 226px;
  position: relative;
  left: 42%;
  top: 56%;
}

@keyframes floater {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(10px);
  }
}

.floater {
  animation: 2s ease-in-out 2 alternate floater
}

@keyframes revealBS {
  from {
    transform: translateY(0px);
    opacity: 0;
  }
  to {
    transform: translateY(-150px);
    opacity: 1;
  }
}

.revealBS {
  animation: 2s ease-in forwards revealBS
}
