.title {
	display: inline-block;
	justify-content: center;
	background-color: black;



}

.title-card {
	opacity: 0;
	color: white;
	display: flex;
	justify-content: center;

}

.story-btn {
	background-color: rgba(0, 0, 0, 0);
	border: 3px solid white;
	transition: background-color 0.5s;
	color: white;
	font-size: 18px;
	position: absolute;
  bottom: 50px;
  width: 100px;
  height: 100px;



}

.story-btn:hover {
	background-color: #717171;
}
